<!DOCTYPE html>
<html>

  <head>
    {{{title}}}
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    {{#each jsscripts}}
    <script src="/static/js/{{this}}"></script>
    {{/each}}


  </head>

  <body>
    <div class="header_container">
      <div>
        <img class="main_logo" src="/static/images/EVM_logo.jpg">
      </div>
      <div>
        <h1>Edna Valley Massage (fake) Database</h1>
      </div>
    </div> <!-- header_container -->

    {{{body}}}

  </body>
</html>
