<head>
  <title>Database | Edna Valley Massage</title>
</head>

<body>

      <div class="topnav">
        <a href="/therapists">Therapists</a>
        <a href="/clients">Clients</a>
        <a href="/certs">Certification</a>
        <a href="/positions">Positions</a>
        <a href="/services">Services</a>
        <a href="/locations">Locations</a>
        <a href="/appointments">Appointments</a>
      </div>

Choose an option from the menu above to get started.
</body>
