<head>
  <title>Add Position</title>
</head>


<div class="topnav">
  <a href="/therapists">Therapists</a>
  <a href="/clients">Clients</a>
  <a href="/certs">Certification</a>
  <a class="active" href="/positions">Positions</a>
  <a href="/services">Services</a>
  <a href="/locations">Locations</a>
  <a href="/appointments">Appointments</a>
</div>


  <form id="add-position" action="/positions" method="post">
    <fieldset>
      <legend>
        <h1> Add a New Position Title</h1>
      </legend>
        Position Title: <input type="text" name="p_name" value="{{p_name}}"><br>
        <input type="submit" value="Add Position Title">
    </fieldset>
  </form>




  <table>
    <br><br><h2>All Positions</h2>
      <thead>
          <th id="box">Position Name</th>
      </thead>
      <tbody>
          {{#each positions}}
          <tr>
              <td id="box">{{p_name}}</td>
          </tr>
          {{/each}}
      </tbody>
    </table>
